:root {
  --clr-white: #fff;
  --clr-black: #000;

  --clr-gray: rgba(38, 62, 51, 0.05);

  --clr-success: #5b9279;
  --clr-danger: #fc5555;

  --clr-theme: #5b9279;
  --clr-theme-dark: #263e33;
  --clr-theme-trans: rgba(91, 146, 121, 0.03);
}
